<p>
    A registry for DDEV add-ons where users can discover, explore, and leave comments on available add-ons.
</p>

<div id="addon-search-wrapper">
    {%- if page.group -%}
        <input id="addon-search" type="text" placeholder="{{ include.filter_by_user }} / search among {{ site.addons | where_exp: "addon", "addon.user == include.filter_by_user" | size }} add-on(s)..."/>
    {%- else -%}
        <input id="addon-search" type="text" placeholder="Search among {{ site.addons | where_exp: "addon", "addon.group == nil" | size }} add-on(s)..."/>
    {%- endif -%}
</div>

<div id="addon-table-wrapper">
    <table id="addon-table">
        <thead>
            <tr>
                <th>Add-on</th>
                <th>Description</th>
                <th>Categories</th>
                <th>Stars</th>
            </tr>
        </thead>
        <tbody class="list">
            {%- assign sorted_addons = site.addons | sort_natural -%}
            {%- if include.filter_by_user -%}
                {%- for addon in sorted_addons -%}
                    {%- if addon.group %}{% continue %}{% endif -%}
                    {%- if addon.user != include.filter_by_user %}{% continue %}{% endif -%}
                    <tr>
                        <td class="name addon-name"><a href="{{ site.baseurl }}/addons/{{ addon.user }}">{{ addon.user }}</a>/<a href="{{ site.baseurl }}{{ addon.url }}">{{ addon.repo }}</a></td>
                        <td class="description">{{ addon.description }}</td>
                        <td class="categories">{% include category_list.html addon=addon %}</td>
                        <td class="stars" data-order="{{ addon.stars | to_integer }}">
                            {{ addon.stars | to_integer }}
                        </td>
                    </tr>
                {%- endfor -%}
            {%- else -%}
                {%- for addon in sorted_addons -%}
                    {%- if addon.group %}{% continue %}{% endif -%}
                    {%- if addon.user != "ddev" %}{% continue %}{% endif -%}
                    <tr>
                        <td class="name addon-name"><a href="{{ site.baseurl }}/addons/{{ addon.user }}">{{ addon.user }}</a>/<a href="{{ site.baseurl }}{{ addon.url }}">{{ addon.repo }}</a></td>
                        <td class="description">{{ addon.description }}</td>
                        <td class="categories">{% include category_list.html addon=addon %}</td>
                        <td class="stars" data-order="{{ addon.stars | to_integer }}">
                            {{ addon.stars | to_integer }}
                        </td>
                    </tr>
                {%- endfor -%}
                {%- for addon in sorted_addons -%}
                    {%- if addon.group %}{% continue %}{% endif -%}
                    {%- if addon.user == "ddev" %}{% continue %}{% endif -%}
                    <tr>
                        <td class="name addon-name"><a href="{{ site.baseurl }}/addons/{{ addon.user }}">{{ addon.user }}</a>/<a href="{{ site.baseurl }}{{ addon.url }}">{{ addon.repo }}</a></td>
                        <td class="description">{{ addon.description }}</td>
                        <td class="categories">{% include category_list.html addon=addon %}</td>
                        <td class="stars" data-order="{{ addon.stars | to_integer }}">
                            {{ addon.stars | to_integer }}
                        </td>
                    </tr>
                {%- endfor -%}
            {%- endif -%}
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>

{% if include.filter_by_user %}
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.1/css/buttons.dataTables.css" />
    <script src="https://cdn.datatables.net/buttons/3.2.1/js/dataTables.buttons.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.1/js/buttons.dataTables.js"></script>
{% endif %}
<script>
    $(document).ready(function() {
        var table = $('#addon-table').DataTable({
            layout: {
                {%- if include.filter_by_user -%}
                    topEnd: {
                        buttons: [
                            {
                                text: 'View all add-ons',
                                action: function (e, dt, node, config) {
                                    window.location.href = "{{ site.baseurl | default: '/' }}";
                                }
                            },
                        ]
                    },
                {%- else -%}
                    topEnd: null,
                {%- endif -%}
            },
            ordering: true,
            paging: true,
            info: true,
            lengthChange: true,
            pageLength: 25,
            order: [],
            //order: [[3, 'desc']], // Default sort by Stars
            columnDefs: [
                { orderable: false, targets: 2 }, // Disable sorting on Categories column
                { searchable: false, targets: [2, 3] }, // Disable search on Categories and Stars column
                { "orderSequence": ["desc", "asc", ""], targets: 3 }, // Sort by highest Stars first
            ]
        });

        $('#addon-search').on('keyup', function() {
            table.search(this.value).draw();
        });
    });
</script>
