<p>
    A registry for <a href="https://ddev.readthedocs.io/en/stable/users/extend/additional-services/" target="_blank">DDEV add-ons</a> where users can discover, explore, and leave comments on available add-ons.
</p>

{%- assign official_addons = site.addons | where_exp: "addon", "addon.group == nil" | where_exp: "addon", "addon.user == 'ddev'" | sort: "repo" -%}
{%- assign contrib_addons = site.addons | where_exp: "addon", "addon.group == nil" | where_exp: "addon", "addon.user != 'ddev'" | sort: "repo" -%}
{%- assign all_addons = official_addons | concat: contrib_addons -%}

<div id="addon-search-wrapper">
    {%- if page.group -%}
        <input id="addon-search" type="text" placeholder="{{ include.filter_by_user }} / search among {{ site.addons | where_exp: "addon", "addon.user == include.filter_by_user" | size }} add-on(s)..."/>
    {%- else -%}
        <input id="addon-search" type="text" placeholder="Search among {{ site.addons | where_exp: "addon", "addon.group == nil" | size }} add-on(s)..."/>
    {%- endif -%}
</div>

<div id="addon-table-wrapper">
    <table id="addon-table">
        <thead>
            <tr>
                <th>Add-on</th>
                <th>Description</th>
                <th style="white-space: nowrap;">Updated At</th>
                <th>Type</th>
                <th>Stars</th>
            </tr>
        </thead>
        <tbody class="list">
            {%- for addon in all_addons -%}
                {%- if include.filter_by_user and addon.user != include.filter_by_user %}{% continue %}{% endif -%}
                <tr>
                    <td class="name" data-url="{{ site.baseurl }}{{ addon.url }}">{{ addon.repo }}</td>
                    <td class="description">[<a href="{{ site.baseurl }}/addons/{{ addon.user }}/">{{ addon.user }}</a>] {{ addon.description }}</td>
                    <td class="updated_at" style="white-space: nowrap;">{{ addon.updated_at }}</td>
                    <td class="type">{% include addon_types_list.html addon=addon %}</td>
                    <td class="stars" data-order="{{ addon.stars | to_integer }}">
                        {{ addon.stars | to_integer }}
                    </td>
                </tr>
            {%- endfor -%}
        </tbody>
    </table>
</div>

<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>

<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.1/css/buttons.dataTables.css" />
<script src="https://cdn.datatables.net/buttons/3.2.1/js/dataTables.buttons.js"></script>
<script src="https://cdn.datatables.net/buttons/3.2.1/js/buttons.dataTables.js"></script>

<script>
    $(document).ready(function() {
        var table = $('#addon-table').DataTable({
            layout: {
                topEnd: {
                    buttons: [
                        {
                            text: 'addons.json',
                            action: function (e, dt, node, config) {
                                window.open("{{ site.baseurl }}/addons.json");
                            }
                        },
                        {%- if include.filter_by_user -%}
                        {
                            text: 'View all',
                            action: function (e, dt, node, config) {
                                window.location.href = "{{ site.baseurl | default: '/' }}";
                            }
                        },
                        {%- endif -%}
                    ]
                },
            },
            ordering: true,
            paging: true,
            info: true,
            lengthChange: true,
            pageLength: 25,
            order: [],
            columnDefs: [
                { orderable: false, targets: 3 }, // Disable sorting on Type
                { searchable: false, targets: [2, 3, 4] }, // Disable search on Updated At, Type, Stars
                { "orderSequence": ["desc", "asc", ""], targets: 4 }, // Sort by highest Stars first
                { width: '25%', targets: 0 },
            ],
            language: {
                lengthMenu: "Show _MENU_ add-ons",
                info: "Showing _START_ to _END_ of _TOTAL_ add-ons",
                infoFiltered: "(filtered from _MAX_ total add-ons)",
                infoEmpty: "Showing 0 to 0 of 0 add-ons",
                zeroRecords: "No add-ons found",
                search: "Search add-ons:",
            },
            createdRow: function(row, data, dataIndex) {
                // Get the URL from the "data-url" attribute of the td with class "addon-name"
                var url = $(row).find('.name').data('url');

                // Assign click event to the entire row
                $(row).on('mousedown', function(e) {
                    if (e.target.tagName.toLowerCase() !== 'a' && url) {
                        if(e.which === 2 || e.ctrlKey || e.metaKey) {
                            window.open(url);
                        } else if (e.which === 1) {
                            window.location.href = url;
                        }                        
                    }
                });
                $(row).css('cursor','pointer');
            },
        });

        // Reapply table filter if search field has a value (e.g., after back navigation)
        if ($('#addon-search').val()) {
            table.search($('#addon-search').val()).draw();
        }

        $('#addon-search').on('keyup', function() {
            table.search(this.value).draw();
        });
    });
</script>
