---
layout: index
---

<h1>
    <a href="{{ site.baseurl | default: '/' }}" style="text-decoration: none;">{{ site.title }}</a> / <a href="{{ site.baseurl }}/addons/{{ page.user }}" style="text-decoration: none;">{{ page.user }}</a> / {{ page.repo }}
</h1>

<div id="content-wrapper">
    {%- assign split_content = content | split: '</p>' -%}
    <!-- Display the first 3 paragraphs -->
    <div id="visible-content">
        {{ split_content | slice: 0, 3 | join: '</p>' | markdownify }}
    </div>

    <!-- Hidden content that will be displayed on clicking "Read more" -->
    <div id="hidden-content" style="display: none;">
        {{ split_content | slice: 3, 1000 | join: '</p>' | markdownify }}
    </div>
</div>

<div class="dt-buttons">
    {%- if split_content.size > 4 -%}
    <button class="dt-button" type="button" id="read-more-btn" onclick="toggleContent()">Read more</button>
    {%- endif -%}
    <button class="dt-button" type="button" onclick="window.open('{{ page.github_url }}', '_blank')">View on GitHub</button>
    <button class="dt-button" type="button" onclick="window.open('{{ page.github_url }}/issues', '_blank')">Report an issue</button>
</div>
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.1/css/buttons.dataTables.css" />

<script>
    function toggleContent() {
        var content = document.getElementById("hidden-content");
        var btn = document.getElementById("read-more-btn");

        if (content.style.display === "none") {
            content.style.display = "block";
            btn.textContent = "Read less";
        } else {
            content.style.display = "none";
            btn.textContent = "Read more";
        }
        btn.blur();
    }
</script>

<div style="border-top: 1px solid #ddd; margin-top: 10px"></div>

<script src="https://giscus.app/client.js"
        data-repo="ddev/giscus-comments"
        data-repo-id="R_kgDON5ODtA"
        data-category="Add-on registry comments"
        data-category-id="DIC_kwDON5ODtM4Cm8gG"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
