---
layout: index
---

<h1>
    <a href="{{ site.baseurl | default: '/' }}">..</a> / <a href="{{ site.baseurl }}/addons/{{ page.user }}">{{ page.user }}</a> / {{ page.repo }}
    <iframe src="https://ghbtns.com/github-btn.html?user={{ page.user }}&repo={{ page.repo }}&type=star&count=true&size=large"
            frameborder="0"
            scrolling="0"
            width="170"
            height="30"
            title="GitHub {{ page.title }}"
    ></iframe>
</h1>

{{ content | markdownify }}

<hr>

<script src="https://utteranc.es/client.js"
        repo="{{ site.repository }}"
        issue-term="title"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
